.msg-wrp {
    --msg-width: 230px;
    --msg-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: var(--msg-width);
    top: 0x;
    bottom: 10px;
    right: var(--indent);
    display: flex;
    flex-direction: column;    
    z-index: 20;
}

.popup-msg {    
    background-color: var(--msg-color);
    width: var(--msg-width);
    height: var(--msg-height);
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    align-items: center;   
}   

.msg-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--msg-color);
    width: 50px;
    height: var(--msg-height);
    display: flex;
    align-items: center;          
}

.msg-sign p { 
    --size: 20px;
    font-size: var(--size);   
    background-color: white;    
    width: calc(var(--size) + 5px);
    height: calc(var(--size) + 5px);
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
}

.msg-text p {
    color: white;
    margin: 0;
}

.msg-heading {
    font-weight: bold;
}

#error {
    --msg-color: #ff6666;
    /* display: none; */
}

#success {
    --msg-color: #70db70;
    /* display: none; */
}

#warning {
    --msg-color: #ffc266;
    display: none;
}

@media screen and (max-width: 800px) {
    #msg-wrp-id {
        --msg-width: 170px;
        --msg-height: 50px;
        font-size: 0.7em;
    }   
}

@media screen and (max-height: 500px) {
    #msg-wrp-id {
        --msg-width: 170px;
        --msg-height: 50px;
        font-size: 0.7em;
    }   
}

@media screen and (max-width: 400px) {
    #error, #success, #warning {
        display: none;
    }    
}
