.menu-wrp {
    width: 150px;
    position: absolute;
    top: calc(var(--header-height) - 10px);
    right: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 10px;
    z-index: 30;
}

.profile-name {
    color: lightgray;
    border-bottom: 2px solid lightgray;
    text-align: center;
    margin: auto;
}

#menu {
    margin: 5px auto;
    padding-left: 0px;
}

#menu a {
    text-decoration: none;
    color: #232323;       
}

#menu li {
    list-style-type: none;    
    padding: 7px;
}

#menu li:hover {
    background-color: var(--header-back-color);    
}

.profile-btn input {
    position: absolute;
    width: 45px;
    height: 45px;
    top: -5px;
    left: -5px;    
    opacity: 0;
}

.profile-btn input:hover {
    cursor: pointer;
}

.menu-wrp {    
    display: none;
}

.profile-btn input:checked + #menu-wrpid {
    display: block;
  }
 