* {
    box-sizing: border-box;
}

:root {
    
    --indent: 40px;
    --header-height: 55px;
    --header-back-color: #e6f3ff;        
}

body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;    
}

/* HEADER styles */

header {
    background-color: var(--header-back-color);
    width: 100%;
    height: var(--header-height);      
}

.header-wrp {
    margin: auto;
    width: calc(100% - calc(var(--indent)*2));
    display: grid;
    grid-template-rows: var(--header-height);
    grid-template-columns: 180px auto 40px 40px;
    grid-template-areas: "logo empty bell profile";
    align-items: center;     
}

.binary-logo {
    grid-area: logo;
    height: 35px;    
}

.bell-wrp {
    grid-area: bell;    
    background: none;
    border: none;
} 

button.bell-wrp p {    
    filter: grayscale(100%);   
    font-size: 20px;
}

button.bell-wrp p:hover {
    filter: brightness(50%);        
}

.btn-hover:hover {
    filter: saturate(100%);
    cursor: pointer;
}

.notify-btn {
    outline: none;
    border: 0;
    background: transparent;   
}

.profile-btn {
    grid-area: profile;
    outline: none;
    border: 0;    
    filter: saturate(80%);   
}

.profile_logo {
    display: inline-block;
    font-size: 30px;
    margin: 0;
    width: 40px;
    height: 40px;
    background-color: #FFAF4A;
    border-radius: 50%;
    text-align: center;
}

/* HEADER appearence */

header {
    position: absolute;
    top: calc(0px - var(--header-height));
    transition: 1s;
    animation: show 1s 1;
    animation-fill-mode: forwards;    
}

@keyframes show{
    0%{
        top: calc(0px - var(--header-height));
    }
    100% {
        top: 0;
    }        
}

/* MAIN styles */

main {
    position: relative;
    top: var(--header-height);
}


.img-404-wrp {
    background-image: url(/img_main/404.png);
    background-position: center;
    background-repeat: no-repeat;   
    height: calc(100vh - var(--header-height));
    z-index: 0;
}

@media screen and (max-width: 800px) {
    #img-404-wrp-id {
        background-image: url(/img_main/404-800.png);        
    }   
}

@media screen and (max-height: 500px) {
    #img-404-wrp-id {
        background-image: url(/img_main/404-800.png);        
    }   
}

@media screen and (max-width: 400px) {
    #img-404-wrp-id {
        background-image: url(/img_main/404-500.png);        
    }   
}

@media screen and (max-height: 300px) {
    #img-404-wrp-id {
        background-image: url(/img_main/404-500.png);        
    }   
}